h1 {
    color: #00ffd5;
}

/* * {
    border: solid;
} */

.header{
    background-color: #6d0341;
     display: flex;
    justify-content: space-between;
    font-size:xx-large;
    font-style:bold;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    font-size:x-large;
    font-style:oblique;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: space-evenly;
   background-color:#000000;

}

p,h2{
    text-align: center;
}
body{
background-color:#690000;
}
